.comment_parent {
  padding: 16px;
  background-color: #b3e5fc;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.comment_text {
  font-size: 18px;
  color: #555;
}

.comment_header {
  font-size: 14px;
  font-weight: bold;
  color: #888;
  margin-bottom: 4px;
}
