.thread_sumally {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #aaa;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

.thread_sumally:hover {
  background-color: #ccc;
}

.thread_sumally_thread_header {
  font-size: 20px;
  font-weight: bold;
}

.thread_sumally_comment_parent {
  margin-top: 16px;
}

.thread_sumally_delete {
  width: max-content;
  margin-top: 8px;
  margin-left: auto;
}
