.top {
  background-color: #EEE;
}

.top_header {
  background-color: #03A9F4;
  box-shadow: 2px 2px 2px 0px #AAA;
  width: 100%;
}

.top_header_contents {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
}

.top_header_title {
  color: white;
  flex-grow: 2;
  max-width: 840px;
  font-size: 32px;
}

.top_header_account {
  text-align: right;
}

.top_header_account_user_name {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.top_body {
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.top_threads_header {
  padding-top: 16px;
  margin: 16px;
}

.top_thread_sumally_parent {
  margin: 16px;
}
